name: Uncached (nightly) Build

on:
  workflow_dispatch:
  schedule:
    # Daily at 2AM
    # * is a special character in YAML so you have to quote this string
    - cron: '0 2 * * *'

permissions:
  checks: write

jobs:
  uncached-build:
    runs-on: ubuntu-22.04

    steps:

      - uses: actions/checkout@v6

      - name: Build docker image name
        run: |
          echo "docker_image_name=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - run: ./build.sh -t ${{ env.docker_image_name }}:${{ github.sha }}

      - run: >-
          docker run
          --rm
          -e AWS_LAMBDA_RUNTIME_API=example.com
          ${{ env.docker_image_name }}:${{ github.sha }}
          --test

      - uses: Mahoney-github-actions/gradle-build-output@v3
        with:
          artifacts_dir: build/project/artifacts
